{% load static %}
{% load product_quantity %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'inventory.css' %}">
    <title>Catalogue</title>
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Catalogue
        </div>
        <table class="customTable">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price_ttc|stringformat:".2f" }}</td>
                    <td>
                        <input
                                id="quantity"
                                type="number"
                                value="{{ cart|product_quantity:product.id }}"
                                max="{{ product.available_inventory }}"
                                min="0"
                                onchange="onQuantityChanged({{ product.id }}, {{ product.price_ttc }}, value)"/>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <h4>Total TTC : <span id="total_ttc">{{ cart.total_ttc }}</span></h4>
    </div>
</body>
<script>
    let totalTTC = {{ cart.total_ttc }};
    let cart = {
        {% for item in cart.items %}
            "{{ item.product.id }}": {{ item.total_ttc }},
        {% endfor %}
    };
    function onQuantityChanged(productId, productPriceTTC, quantity) {
        quantity = parseInt(quantity);
        cart[productId] = productPriceTTC * quantity;
        totalTTC = productPriceTTC * quantity;
        for (const id of Object.keys(cart)) {
            if (id !== productId.toString()) {
                totalTTC += cart[id];
            }
        }
        document.getElementById("total_ttc").innerText = totalTTC.toFixed(2);

        const request = new XMLHttpRequest();
        request.open("patch", "/catalog");
        request.setRequestHeader('content-type', 'application/json');
        request.send(JSON.stringify({
            product_id: productId,
            quantity
        }));
    }
</script>
</html>