{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'inventory.css' %}">
    <title>Catalogue</title>
</head>
<body>

    <div class="wrapper">
        <div class="title">
            Inventaire
        </div>
        <table class="customTable">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price_ttc }}</td>
                    <td>{{ product.available_inventory }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="buttons">
            <a class="add" href="create-product">
                Ajouter
            </a>

            <button class="delete">
                Supprimer
            </button>
        </div>
    </div>


</body>
</html>